*{
  margin: 0;
  padding: 0;
}

.maindiv{
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  
}

.head{
  background-color: red;
  height: 50px;
  width: 100px;
  border-radius: 5px;
  text-align: center;
}

.btn{
  padding: 10px;
  font-weight: bolder;
  font-size: 100%;
}

.bothbtn{
  display: flex;
  gap: 7px;
}